@model LojaNet.Models.Produto

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>

<form method="post" class="form-horizontal">

    @Html.ValidationSummary(null, new { @class = "text-danger" })

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label class="control-label" for="Nome">Nome:</label>
        <input class="form-control" type="text" name="Nome" value="@Model.Nome" />
    </div>

    <br />

    <div class="form-group">
        <label class="control-label" for="Preco">Preço</label>
        <input class="form-control" type="Text" name="Preco" value="0,00" />
    </div>

    <br />

    <div class="form-group">
        <label class="control-label" for="Estoque">Estoque</label>
        <input class="form-control" type="Text" name="Estoque" value="@Model.Estoque" />
    </div>

    <br />

    <div class="form-group">
        <a href="/Produto/Index" class="btn btn-light">Voltar</a>
        <input class="btn btn-light" type="submit" value="Confirmar Alteração" />
    </div>

</form>