@model LojaNet.Models.Produto

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<p>Confirmar a exlusão do produto: @Model.Nome</p>

<br />

<form method="post">

    <input type="hidden" name="Id" value="@Model.Id" />

    <a href="/Produto/Index" class="btn btn-light">Voltar</a>
    <input class="btn btn-danger" type="submit" value="Confirmar exclusão" />

</form>