@model LojaNet.Models.Cliente

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>


<form method="post" class="form-horizontal">

    @Html.ValidationSummary(null, new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label" for="Nome">Nome:</label>
        <input class="form-control" type="text" name="Nome" value="@Model.Nome" />
    </div>

    <br />

    <div class="form-group">
        <label class="control-label" for="Email">Email</label>
        <input class="form-control" type="Text" name="Email" value="@Model.Email" />
    </div>

    <br />

    <div class="form-group">
        <label class="control-label" for="Telefone">Telefone</label>
        <input class="form-control" type="Text" name="Telefone" value="@Model.Telefone" />
    </div>

    <br />

    <div class="form-group">
        <a href="/Cliente/Index" class="btn btn-light">Voltar</a>
        <input class="btn btn-light" type="submit" value="Confirmar Alteração" />
    </div>

</form>